.content-p {
  font-size: clamp(0.5em, 1.3vw, 2em);
}

.error-msg {
  position: relative;
  color: #e9b425;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.clock-hours {
  line-height: 0.8em;
  font-weight: 600;
  font-size: 144px;
}

.clock-date {
    font-size: 14px;
}