.container-right {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/fundoLogin.png");
  background-size: cover;
  width: 50vw;
  height: 100vh;
}

img {
  height: 15vh;
}

@media (max-width: 960px) {
  .container-right {
    display: none;
  }
}
