* {
  font-weight: 100;
  color: white;
}

.container-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #33383d 0%, #1c1d20 100%);
  width: 50vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  width: 40%;

  button {
    position: relative;
    bottom: 8%;
    background: linear-gradient(90deg, #ff2d04 0%, #c13216 100%);
    border: none;
    padding: 6%;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 5px 5px 15px rgb(15, 15, 15);
    cursor: pointer;
    color: white;
    width: 100%;
  }
}

.login-tittle {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 20%;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}

.user-box {
  display: flex;
  justify-content: space-between;
  border: solid 1px white;
  padding: 4%;
  border-radius: 30px;
}

.password-box {
  display: flex;
  justify-content: space-between;
  border: solid 1px white;
  padding: 4%;
  border-radius: 30px;
}

.error {
  position: relative;
  color: #e9b425;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  visibility: hidden;
}


.logo-mobile {
  display: none;
}

@media (max-width: 960px) {
  .container-left {
    width: 100%;
  }

  .container {
    width: 80%;
    height: 85%;
  }

  .logo-mobile {
    display: block;
    height: 5vh;
    
    img {
      position: absolute;
      height: 8vh;
      right: 0;
    }
  }
}

@media (max-height: 900px) {
  .container {
    height: 95%;
  }

  .login-container {
    height: 35%;
  }
}