.content {
  display: flex;
  height: 80vh;
  line-height: 3.2em;
  justify-content: space-between;
  text-align: end;
}

.globe {
  height: 76vh;
  min-width: 100%;
}

.text-content {
  height: fit-content;
  margin: 6% 6% 0 0;
}

.title {
  color: #c12d18;
}

.paragraph {
  color: #222222;
  font-size: 24px;
}

@media (max-width:960px) {
  .text-content {
    display: none;
  }

  .globe {
    max-width: 100%;
  }
}

@media (max-width:650px) {
  .globe-container {
    max-width: 85%;
  }
}
