.header {
  color: #222222;
  display: flex;
  justify-content: space-between;
  height: 20vh;
}

.logo {
  padding: 1% 2%;
}

.clock {
  padding-top: 2.5%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.clock-hours {
  line-height: 6.5em;
}

.weather {
  display: flex;
  flex-direction: column;
  padding: 1% 2%;
}

.weather-container {
  display: flex;
  height: 30%;
  justify-content: center;
  align-items: center;
  padding: 4%;

  img {
    margin-right: 6%;
    height: 75%;
  }
}

.weather-title {
  font-size: 48px;
  font-weight: 600;
}

@media (max-width: 960px) {
  .clock {
    display: none;
  }

  .weather {
    display: none;
  }
}
