.header {
  color: #222222;
  display: flex;
  justify-content: space-between;
  height: 20vh;
}

.logo {
  padding: 1% 2%;
}

.clock {
  padding-top: 2%;
}

.weather {
  padding: 1% 2%;
}

@media (max-width: 960px) {
  .clock {
    display: none;
  }

  .weather {
    display: none;
  }
}
